<div class="container">
  <mat-icon mat-dialog-close class="close-button">
    close
  </mat-icon>

   <h1 mat-dialog-title>TERMO</h1>

  <div mat-dialog-content>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type</p>
  </div>

  <mat-checkbox class="checkbox" [(ngModel)]="accepted" color="primary">
    Li e aceito os termos e condições acima
  </mat-checkbox>
  
  <button mat-flat-button color="accent" [disabled]="!accepted" mat-dialog-close (click)="confirm()">
    OK, ENTENDI
  </button>
</div>