.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: 5rem;
}

img {
  max-height: 100px;
  margin-bottom: 1em;
}

h3 {  
  font-weight: 800;
  letter-spacing: 1px;
  color: #C4BDA6;
  margin-bottom: 1em;
}

p {
  max-width: 600px;
  text-align: center;
}

.options p {
  margin-top: 2.2em;
}

.mat-stroked-button {
  height: 3rem;
  width: 9rem;
  margin: .2em;
  color: var(--primary-color);
  border: 1.5px solid var(--primary-color);
}

